.locationcontainer{
    background-color: rgba(235, 235, 235, 0.705);
    display: flex;
    margin: 2rem;
    padding: 5px;
    text-align: center;
    border-radius: 12%;
    float: right;
    color: rgb(22, 19, 19);
    font-family: Georgia, serif;
    flex-direction: column;
    box-shadow:8px 10px 10px rgb(83, 86, 96); 

}