* {
    box-sizing: border-box;
}
body {
    background-image: url("./images/FoxCreek.webp") ;
    /*background-color: rgba(110, 187, 136, 0.678);*/
    background-repeat: no-repeat;
    margin: 0px;
    background-size:auto;
    background-position: center;
   
}